<div class="container">
	<h1>Dialog one</h1>
	<button class="btn btn-large btn-primary" data-bind="click: openOne">Open another one!</button>
	<button class="btn btn-large btn-primary" data-bind="click: openTwo">Open a simple dialog!</button>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
    <div class="container">
        <button class="btn btn-default post-button pull-left" data-bind="click: close, clickBubble: false">
            <i class="fa fa-arrow-left"></i>
            <span>Close</span>
        </button>
    </div>
</nav>