<h2 class="page-header" data-bind="translatedText: 'i18next-example.title'"></h2>
<p data-bind="translatedText: 'i18next-example.description'"></p>
<div class="row">
	<h4 style="margin-left: 16px" data-bind="translatedText: 'i18next-example.children', translatedTextOptions: { count: count }"></h4>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary" data-bind="click: changeLng.bind($data, switchLang()), text: switchLangTitle"></button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" data-bind="click: incrementCount, translatedText: 'i18next-example.addOneChild'"></button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" data-bind="click: decrementCount, translatedText: 'i18next-example.removeOneChild'"></button>
    </div>
</div>
