<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= slugName %></title>
    <!-- build:css -->
    <link href="<%= baseUrl %>css/styles.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- build:js -->
    <script src="/v3/node_modules/babel-core/browser-polyfill.js"></script>
    <script src="<%= baseUrl %>app/require.config.js"></script>
    <script data-main="app/startup" src="<%= baseUrl %>bower_components/requirejs/require.js"></script>
    <!-- endbuild -->
</head>

<body>
    <% if(includeDemo) { %><nav-bar></nav-bar><% } %>
    <router data-bind="visible: !dialoger.isDialogOpen()" params="{ title: router.currentRouteTitle }"></router>
    <dialoger data-bind="visible: dialoger.isDialogOpen" params="{ title: dialoger.currentDialogTitle }"></dialoger>
    <modaler class="modal fade" data-bind="visible: modaler.isModalOpen" params="{ title: modaler.currentModalTitle }"></modaler>
</body>

</html>
