<form class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" tabindex="-1"><span aria-hidden="true">&times;</span>
            </button>
            <h4 id="dialog-title" class="modal-title">Modal title</h4>
        </div>
        <div id="dialog-body" class="modal-body">
            <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bind="click: ok, hasFocus: okFocused">OK</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    <!-- /.modal-content -->
</form>
<!-- /.modal-dialog -->
