<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <a class="navbar-brand" data-bind="html: title"></a>
    </div>
</div>

<div class="container">
    <h1>Simple dialog</h1>
    <p>This is a simple dialog returning no data. It could be use to display an about page or quick help page.</p>
    <h2 class="page-header">Dialog example (display page as dialog)</h2>
    <p>This component has been created inside the project. It uses the framework to open a page (with activation) inside a dialog.</p>
    <button class="btn btn-primary" data-bind="click: openPageDialog, hasFocus: openPageDialogFocused">Open dialog!</button>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
    <div class="container">
        <button class="btn btn-default post-button pull-left" data-bind="click: close, clickBubble: false">
            <i class="fa fa-arrow-left"></i>
            <span>Close</span>
        </button>
    </div>
</nav>
