<div class="container">
    <h1 data-bind="translatedText: 'global:home-page.title'"></h1>

    <h2 class="page-header">Dialog example (no data)</h2>
    <p>This component has been created inside the project. It uses the framework to open a simple dialog.</p>
    <button class="btn btn-primary" data-bind="click: openDialog, hasFocus: openDialogFocused">Open dialog!</button>

    <h2 class="page-header">Dialog example (display page as dialog)</h2>
    <p>This component has been created inside the project. It uses the framework to open a page (with activation) inside a dialog.</p>
    <button class="btn btn-primary" data-bind="click: openPageDialog, hasFocus: openPageDialogFocused">Open dialog!</button>

    <h2 class="page-header">Dialog example (using dialoger opener)</h2>
    <p>This will open the same dialog as above using the dialoger opener. The advantage is that you don't have to handle the focus.</p>
    <button class="btn btn-primary" data-bind="dialog: 'test'">Open dialog!</button>

    <h2 class="page-header">Dialog example (with data, from Bower)</h2>
    <p>This component is hosted by Bower and uses a dialog component to pick an image.</p>
    <koco-demo-image-picker params="{ image: image }"></koco-demo-image-picker>

    <h2 class="page-header">Modal example (with data)</h2>
    <p>This component has been created inside the project. It uses the framework to open a simple modal form that returns data upon clicking <code>OK</code>
    </p>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" data-bind="click: openModal, hasFocus: openModalFocused">Open modal!</button>
        </div>
        <div class="col-md-2">
            <p data-bind="text: modalResult"></p>
        </div>
    </div>

    <h2 class="page-header">Modal example (using the modaler opener)</h2>
    <p>This will open the same modal as above using the modaler opener. The advantage is that you don't have to handle the focus.</p>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" data-bind="modal: { name: 'test', closed: modalClosed }">Open modal!</button>
        </div>
        <div class="col-md-2">
            <p data-bind="text: modalerOpenerResult"></p>
        </div>
    </div>

    <h2 class="page-header">Dialog inception</h2>
    <p>Opening a dialog inside a dialog will stack them.</p>
    <button class="btn btn-primary" data-bind="click: inception, hasFocus: inceptionFocused">Begin inception</button>

    <h2 class="page-header">Dialog that will prevent navigation</h2>
    <p>An example dialog preventing navigation to occur (other than hard refreshing).</p>
    <button class="btn btn-primary" data-bind="click: blocking, hasFocus: blockingFocused">Open</button>

    <h2 class="page-header">Knockout binding handlers</h2>
    <p>This demonstrate the use of Knockout binding handlers.</p>
    <div aria-live="off" data-bind="date: now"></div>
    <div data-bind="since: since"></div>

    <h2 class="page-header">async-click binding handler</h2>
    <p>This demonstrate the use of Knockout async-click binding handler.</p>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" data-bind="asyncClick: asyncTask, asyncClickHtml: '&lt;i class=&quot;fa fa-spinner fa-spin&quot;&gt;&lt;/i&gt; Waiting...'">Do async task!</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" data-bind="asyncClick: asyncTask, asyncClickHtml: '&lt;i class=&quot;fa fa-spinner fa-spin&quot;&gt;&lt;/i&gt; Waiting...'">Do async task!</button>
        </div>
    </div>

    <i18next-example></i18next-example>

    <br><br><br><br>
</div>
