<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container">
        <a class="navbar-brand" data-bind="html: title"></a>
    </div>
</div>

<div class="container">
    <h1>Blocking dialog</h1>
    <p>This dialog will prevent navigation to occur.</p>
    <a href="#/test" class="btn btn-danger btn-large">Try to navigate to /test</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
    <div class="container">
        <button class="btn btn-default post-button pull-left" data-bind="click: close, clickBubble: false">
            <i class="fa fa-arrow-left"></i>
            <span>Close</span>
        </button>
    </div>
</nav>
